<div class="product-item bg-light mb-4">
  <div class="product-img position-relative overflow-hidden">
    <img
      class="img-fluid custom-img"
      [src]="product.images[0] || 'assets/img/not-image-found.jpg'"
      alt=""
    />
    <div class="product-action">
      <a class="btn btn-outline-dark btn-square" routerLink="/wish-list"
        ><i class="far fa-heart"></i
      ></a>
      <a
        class="btn btn-outline-dark btn-square"
        [routerLink]="['/shop-detail/', product._id]"
        ><i class="fa fa-search"></i
      ></a>
    </div>
  </div>
  <div class="text-center py-4">
    <a
      class="h6 text-decoration-none text-truncate"
      routerLink="/shop-detail"
      >{{ product.productName | titlecase }}</a
    >
    <div class="d-flex align-items-center justify-content-center mt-2 text-dark ">
        <h5>{{ product.sellingPrice | currency : "USD" : "symbol" : "1.2-2" }}</h5><h6 class="text-muted ml-2"><del>{{ product.price | currency : "USD" : "symbol" : "1.2-2" }}</del></h6>
    </div>
    <!-- <div class="d-flex align-items-center justify-content-center mt-2">
      {{ product.sellingPrice | currency : "USD" : "symbol" : "1.2-2" }}
      <h6 class="text-muted ml-2">
        <del>{{ product.price | currency : "USD" : "symbol" : "1.2-2" }}</del>
      </h6>
    </div> -->
    <div class="d-flex align-items-center justify-content-center mb-1 ">
      <ngb-rating   [disabled]="true" [(rate)]="product.ratings" [max]="5" class="fs-5" >
        <ng-template let-fill="fill" let-index="index">
          <i class="bi-star{{ fill === 100 ? '-fill' : '' }}" [class.filled]="fill === 100" [class.low]="index < product.ratings "></i>
      </ng-template>
    </ngb-rating>
    <span class="p-1">{{ '('+product.reviews + ')' }}</span>
    </div>
  </div>
</div>
