<!-- Breadcrumb Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-12">
      <nav
        class="breadcrumb bg-light mb-30"
        *ngIf="commonService.breadCrumbData$ | async as breadcrumb"
      >
        <ng-container *ngFor="let item of breadcrumb.linkList; let last = last">
          <a
            class="breadcrumb-item text-dark"
            [routerLink]="item.link"
            [ngClass]="{ 'de-active-link': last }"
            >{{ item.label }}</a
          >
        </ng-container>
      </nav>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->
