
  <div class="container-fluid">
    <div class="px-xl-5">
        <div class="d-flex flex-column vh-100 p-3 bg-light border-end ">
            
            <ul class="nav nav-pills flex-column mb-auto"> 
              <ng-container *ngFor="let profileItem of profileUrls" >
                <li class="nav-item ">
                  <a  [routerLink]="profileItem.link" routerLinkActive="active" (click)="onProfileItemClick(profileItem.title)"  class="nav-link text-dark">
                    <i [class]="profileItem.icon" routerLinkActive="text-light" ></i>
                    {{profileItem.title}}
                  </a>

                </li>
              </ng-container>
              
              
            </ul>
          </div>
      </div>
    </div>
    
  