<h4 class="mb-3">Additional Information</h4>
@if (productService.productDetails$ | async; as product) {
<p>{{ product?.information?.description }}</p>
<div class="row">
  <div class="col-md-6">
    <ul class="list-group list-group-flush">
      @for (points of product?.information?.infoPoints; track points) {
      <li class="list-group-item px-0">
        {{ points }}
      </li>
      }
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="list-group list-group-flush">
      @for (points of product?.information?.infoPoints; track points) {
      <li class="list-group-item px-0">
        {{ points }}
      </li>
      }
    </ul>
  </div>
</div>
}
