<h2 class="mb-5">Change Password</h2>

<h2 class="mb-5">Change Password</h2>

<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmitChangePassword()">
  <div class="mb-3 row">
    <div class="col-12 col-md-6 col-lg-4">
      <label for="oldPassword" class="form-label">Old Password <span class="text-danger">*</span></label>
      <input
        type="password"
        formControlName="OldPassword"
        class="form-control"
        id="oldPassword"
        placeholder="old password"
        [ngClass]="{'error': changePasswordForm.get('oldPassword').invalid && (changePasswordForm.get('oldPassword').touched || submitted)}"
        >
      @if (changePasswordForm.get('oldPassword').hasError('required') && (changePasswordForm.get('oldPassword').touched || submitted)) {
        <span class="text-danger">Old Password is required</span>
      }
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-12 col-md-6 col-lg-4">
      <label for="newPassword" class="form-label">New Password <span class="text-danger">*</span></label>
      <input
        type="password"
        placeholder="New password"
        formControlName="newPassword"
        class="form-control"
        id="newPassword"
        [ngClass]="{'error': changePasswordForm.get('newPassword').invalid && (changePasswordForm.get('newPassword').touched || submitted)}"
        >
      @if (changePasswordForm.get('newPassword').hasError('required') && (changePasswordForm.get('newPassword').touched || submitted)) {
        <span class="text-danger">New Password is required</span>
      }
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-12 col-md-6 col-lg-4">
      <label for="newConfirmPassword" class="form-label">Confirm New Password <span class="text-danger">*</span></label>
      <input
        type="password"
        formControlName="confirmPassword"
        placeholder="Confirm Password"
        class="form-control"
        id="newConfirmPassword"
        [ngClass]="{'error': changePasswordForm.get('confirmPassword').invalid && (changePasswordForm.get('confirmPassword').touched || submitted)}"
        >
      @if (changePasswordForm.get('confirmPassword').hasError('required') && (changePasswordForm.get('confirmPassword').touched || submitted)) {
        <span class="text-danger">Confirm Password is required</span>
      }
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-12 col-md-4 col-lg-2">
      <button type="submit" class="btn btn-primary w-100">Save </button>
    </div>
  </div>
</form>
