<div class="container-fluid">
  <div class="row bg-secondary py-1 px-xl-5">
    <div class="col-lg-6 d-none d-lg-block">
      <div class="d-inline-flex align-items-center h-100">
        <ng-container *ngFor="let link of links">
          <a class="text-body mr-3" [routerLink]="link.url" routerLinkActive="text-decoration-underline" >{{
            link.name
          }}</a>
        </ng-container>
        
      </div>
    </div>
    <div class="col-lg-6 text-center text-lg-right">
      <div class="d-inline-flex align-items-center">
        <div class="mr-3">
          <p *ngIf="authService.loggedIn()" class="mb-0">Welcome to {{userDetails?.firstName}}</p>
        </div>
        <div class="btn-group" >
          <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">
            My Account
          </button>
          <ng-container >
            <div #dropdownMenu class="dropdown-menu dropdown-menu-right">
              <ng-container *ngIf="!authService.loggedIn()" >
              <button class="dropdown-item" type="button" routerLink="/auth/sign-in">
                Sign in
              </button>
              <button class="dropdown-item" type="button" routerLink="/auth/sign-up">
                Sign up
              </button>
            </ng-container>
            <ng-container *ngIf="authService.loggedIn()">
              <ng-container *ngFor="let profile of profileRoutes" >
                <button class="dropdown-item" type="button" [routerLink]="profile.link" (click)="clickOnProfileItem(profile)"> 
                  <i [class]="profile.icon"></i> 
                  {{profile.title}}</button>
              </ng-container>
            </ng-container>
            </div>
          </ng-container>
        </div>
            
        
        <div class="btn-group" >
          <button
            type="button"
            class="btn btn-sm btn-light dropdown-toggle"
            data-toggle="dropdown"
          >
            EN
          </button>
          <div #dropdownMenu class="dropdown-menu dropdown-menu-right" >
            <ng-container *ngFor="let lang of languageDetails">
            <button
              class="dropdown-item"
              type="button"
              (click)="changeLanguage(lang.languageCode)"
            >
              {{ lang.label }}
            </button>
          </ng-container>
          </div>
        </div>
      </div>
      <div class="d-inline-flex align-items-center d-block d-lg-none">
        <a  class="btn px-0 ml-2">
          <i class="fas fa-heart text-dark"></i>
          <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px">0</span>
        </a>
        <a class="btn px-0 ml-2">
          <i class="fas fa-shopping-cart text-dark"></i>
          <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px">0</span>
        </a>
      </div>
    </div>
  </div>
</div>