
<div class="d-flex flex-column   justify-content-center align-items-center height ">

    <div class="card  p-3 shadow-lg border border-dark" style="width: 320px;">
        <div class="card-header h5 text-white bgDark rounded-2">
            <h3 class="text-center cYellow">Forgot Password</h3>
        </div>
        <div class="border border-warning border-2 mt-2"></div>
        <div class="card-body">
            <p class="card-text py-2 text-center">
                Enter your email address and we'll send you an email with instructions to forgot your password.
            </p>
            <form action="" [formGroup]="forgotPasswordForm">
                <div  class="form-outline"    >
                    <input  type="email" id="typeEmail" placeholder="Email" formControlName="email" class="form-control" 
                    [ngClass]="{'error':forgotPasswordForm.get('email').invalid && (forgotPasswordForm.get('email').touched || submitted)}"
                    />
                    <span class="text-danger"
                        *ngIf="forgotPasswordForm.get('email').hasError('required') && ( forgotPasswordForm.get('email').touched || submitted)">Email
                        is required</span>
                </div>
                <div class="text-center mt-3">
                    <button class="btn bgYellow w-100">Reset password</button>
                </div>
            </form>
            <div class="d-flex justify-content-between mt-4">
                <a class="btn btn-outline-dark" href="#">Login</a>
                <a class="btn btn-outline-dark" href="#">Register</a>
            </div>
        </div>
    </div>
    
    
        
    </div>