<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-lg-8">
      <h5 class="section-title position-relative text-uppercase mb-3">
        <span class="bg-secondary pr-3">Billing Address</span>
      </h5>
      <div class="bg-light p-30 mb-5">
        <form [formGroup]="billingAddressForm">
          <div class="form-row">
            <div class="form-group col-6">
              <label>First Name</label>
              <input
                type="text"
                placeholder="John"
                class="form-control"
                formControlName="firstName"
                [ngClass]="{
                  'error':billingAddressForm.get('firstName')?.invalid && (billingAddressForm.get('firstName')?.touched || submitted)
                }"
                required
                />
               @if (billingAddressForm.get('firstName')?.hasError('required') && (billingAddressForm.get('firstName')?.touched || submitted)) {
                <span class="text-danger">First Name is required.</span>
              }
            </div>
            <div class="form-group col-6">
              <label>Last Name</label>
              <input
                type="text"
                class="form-control"
                placeholder="Doe"
                formControlName="lastName"
                [ngClass]="{
                  'error':billingAddressForm.get('lastName')?.invalid && (billingAddressForm.get('lastName')?.touched || submitted)
                }"
                required
                />
                @if (billingAddressForm.get('lastName')?.hasError('required') && (billingAddressForm.get('lastName')?.touched || submitted)) {
                  <span class="text-danger">Last Name is required.</span>
                }
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <label>Email</label>
              <input
                type="email"
                placeholder="example@email.com"
                class="form-control"
                formControlName="email"
                [ngClass]="{
                  'error':billingAddressForm.get('email')?.invalid && (billingAddressForm.get('email')?.touched || submitted)
                }"
                required
                />
                @if (billingAddressForm.get('email')?.hasError('required') && (billingAddressForm.get('email')?.touched || submitted)) {
                  <span class="text-danger">Email is required.</span>
                }
                @if (billingAddressForm.get('email')?.hasError('email') && (billingAddressForm.get('email')?.touched || submitted)) {
                  <span class="text-danger">Email is invalid.</span>
                }
            </div>
            <div class="form-group col-6">
              <label>Mobile No</label>
              <input
                type="text"
                class="form-control"
                formControlName="mobileNo"
                placeholder="+123 456 789"
                [ngClass]="{
                  'error':billingAddressForm.get('mobileNo')?.invalid && (billingAddressForm.get('mobileNo')?.touched || submitted)
                }"
                required
                />
                @if (billingAddressForm.get('mobileNo')?.hasError('required') && (billingAddressForm.get('mobileNo')?.touched || submitted)) {
                  <span class="text-danger">Mobile No is required.</span>
                }
                @if (billingAddressForm.get('mobileNo')?.hasError('pattern') && (billingAddressForm.get('mobileNo')?.touched || submitted)) {
                  <span class="text-danger">Mobile No is required only number.</span>
                }
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <label>Address Line 1</label>
              <input
                type="text"
                placeholder="123 street"
                class="form-control"
                formControlName="addressLine1"
                [ngClass]="{
                  'error':billingAddressForm.get('addressLine1')?.invalid && (billingAddressForm.get('addressLine1')?.touched || submitted)
                }"
                required
                />
                @if (billingAddressForm.get('addressLine1')?.hasError('required') && (billingAddressForm.get('addressLine1')?.touched || submitted)) {
                  <span class="text-danger">Address Line 1 is required.</span>
                }
            </div>
            <div class="form-group col-6">
              <label>Address Line 2</label>
              <input
                type="text"
                class="form-control"
                placeholder="123 street"
                formControlName="addressLine2"
                [ngClass]="{
                  'error':billingAddressForm.get('addressLine2')?.invalid && (billingAddressForm.get('addressLine2')?.touched || submitted)
                }"
                required
                />
                @if (billingAddressForm.get('addressLine2')?.hasError('required') && (billingAddressForm.get('addressLine2')?.touched || submitted)) {
                  <span class="text-danger">Address Line 2 is required.</span>
                }
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <label>City</label>
              <input
                type="text"
                class="form-control"
                placeholder="New York"
                formControlName="city"
                [ngClass]="{
                  'error':billingAddressForm.get('city')?.invalid && (billingAddressForm.get('city')?.touched || submitted)
                }"
                required
                />
                @if (billingAddressForm.get('city')?.hasError('required') && (billingAddressForm.get('city')?.touched || submitted)) {
                  <span class="text-danger">City is required.</span>
                }
            </div>
            <div class="form-group col-6">
              <label>State</label>
              <input
                type="text"
                class="form-control"
                formControlName="state"
                placeholder="New York"
                [ngClass]="{
                  'error':billingAddressForm.get('state')?.invalid && (billingAddressForm.get('state')?.touched || submitted)
                }"
                required
                />
                @if (billingAddressForm.get('state')?.hasError('required') && (billingAddressForm.get('state')?.touched || submitted)) {
                  <span class="text-danger">State is required.</span>
                }
            </div>
            <div class="form-group col-6">
              <label>Zipcode</label>
              <input
                type="text"
                class="form-control"
                placeholder="123"
                formControlName="zipcode"
                [ngClass]="{
                  'error':billingAddressForm.get('zipcode')?.invalid && (billingAddressForm.get('zipcode')?.touched || submitted)
                }"
                required
                />
                @if (billingAddressForm.get('zipcode')?.hasError('required') && (billingAddressForm.get('zipcode')?.touched || submitted)) {
                  <span class="text-danger">ZipCode is required.</span>
                }
            </div>
            <div class="form-group col-6">
              <label>Country</label>
              <select
                class="custom-select"
                formControlName="country"
                [ngClass]="{
                  'error':billingAddressForm.get('country')?.invalid && (billingAddressForm.get('country')?.touched || submitted)
                }"
                required
                >
                <option value="" disabled>Select Country</option>
                @for (country of countries; track country) {
                  <option [value]="country">
                    {{ country }}
                  </option>
                }
              </select>
              @if (billingAddressForm.get('country')?.hasError('required') && (billingAddressForm.get('country')?.touched || submitted)) {
                <span class="text-danger">Country is required.</span>
              }
            </div>
          </div>
        </form>
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input px-3"
            id="shipto"
            (change)="toggleShippingAddress($event)"
            />
          <label class="custom-control-label" for="shipto">
            Ship to different address
          </label>
        </div>
      </div>
      @if (showShippingAddress) {
        <div class="mb-5" id="shipping-address">
          <h5 class="section-title position-relative text-uppercase mb-3">
            <span class="bg-secondary pr-3">Shipping Address</span>
          </h5>
          <div class="bg-light p-30 mb-5">
            <form [formGroup]="shippingAddressForm">
              <div class="form-row">
                <div class="form-group col-6">
                  <label>First Name</label>
                  <input
                    type="text"
                    placeholder="John"
                    class="form-control"
                    formControlName="firstName"
                  [ngClass]="{
                    'error':
                      shippingAddressForm.get('firstName')?.invalid &&
                      (shippingAddressForm.get('firstName')?.touched ||
                        submitted)
                  }"
                    required
                    />
                    @if (shippingAddressForm.get('firstName')?.hasError('required') && (shippingAddressForm.get('firstName')?.touched || submitted)) {
                      <span class="text-danger">First Name is required.</span>
                    }
                </div>
                <div class="form-group col-6">
                  <label>Last Name</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Doe"
                    formControlName="lastName"
                  [ngClass]="{
                    'error':
                      shippingAddressForm.get('lastName')?.invalid &&
                      (shippingAddressForm.get('lastName')?.touched ||
                        submitted)
                  }"
                    required
                    />
                    @if (shippingAddressForm.get('lastName')?.hasError('required') && (shippingAddressForm.get('lastName')?.touched || submitted)) {
                      <span class="text-danger">Last Name is required.</span>
                    }
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-6">
                  <label>Email</label>
                  <input
                    type="email"
                    class="form-control"
                    formControlName="email"
                    placeholder="example@email.com"
                  [ngClass]="{
                    'error':
                      shippingAddressForm.get('email')?.invalid &&
                      (shippingAddressForm.get('email')?.touched || submitted)
                  }"
                    required
                    />
                    @if (shippingAddressForm.get('email')?.hasError('required') && (shippingAddressForm.get('email')?.touched || submitted)) {
                      <span class="text-danger">Email is required.</span>
                    }
                    @if (shippingAddressForm.get('email')?.hasError('email') && (shippingAddressForm.get('email')?.touched || submitted)) {
                      <span class="text-danger">Email is invalid.</span>
                    }
                </div>
                <div class="form-group col-6">
                  <label>Mobile No</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="mobileNo"
                    placeholder="+123 456 789"
                  [ngClass]="{
                    'error':
                      shippingAddressForm.get('mobileNo')?.invalid &&
                      (shippingAddressForm.get('mobileNo')?.touched ||
                        submitted)
                  }"
                    required
                    />
                    @if (shippingAddressForm.get('mobileNo')?.hasError('required') && (shippingAddressForm.get('mobileNo')?.touched || submitted)) {
                      <span class="text-danger">Mobile No is required.</span>
                    }
                    @if (shippingAddressForm.get('mobileNo')?.hasError('pattern') && (shippingAddressForm.get('mobileNo')?.touched || submitted)) {
                      <span class="text-danger">Mobile No is required only number.</span>
                    }
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-6">
                  <label>Address Line 1</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="123 street"
                    formControlName="addressLine1"
                  [ngClass]="{
                    'error':
                      shippingAddressForm.get('addressLine1')?.invalid &&
                      (shippingAddressForm.get('addressLine1')?.touched ||
                        submitted)
                  }"
                    required
                    />
                    @if (billingAddressForm.get('addressLine1')?.hasError('required') && (billingAddressForm.get('addressLine1')?.touched || submitted)) {
                      <span class="text-danger">Address Line 1 is required.</span>
                    }
                </div>
                <div class="form-group col-6">
                  <label>Address Line 2</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="123 street"
                    formControlName="addressLine2"
                    [ngClass]="{
                      'error':
                        shippingAddressForm.get('addressLine2')?.invalid &&
                        (shippingAddressForm.get('addressLine2')?.touched ||
                          submitted)
                    }"
                    />
                    @if (shippingAddressForm.get('addressLine2')?.hasError('required') && (shippingAddressForm.get('addressLine2')?.touched || submitted)) {
                      <span class="text-danger">Address Line 2 is required.</span>
                    }
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-6">
                  <label>City</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="New York"
                    formControlName="city"
                  [ngClass]="{
                    'error':
                      shippingAddressForm.get('city')?.invalid &&
                      (shippingAddressForm.get('city')?.touched || submitted)
                  }"
                    required
                    />
         @if (shippingAddressForm.get('city')?.hasError('required') && (shippingAddressForm.get('city')?.touched || submitted)) {
                  <span class="text-danger">City is required.</span>
                }
                </div>
                <div class="form-group col-6">
                  <label>State</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="New York"
                    formControlName="state"
                  [ngClass]="{
                    'error':
                      shippingAddressForm.get('state')?.invalid &&
                      (shippingAddressForm.get('state')?.touched || submitted)
                  }"
                    required
                    />
                    @if (shippingAddressForm.get('state')?.hasError('required') && (shippingAddressForm.get('state')?.touched || submitted)) {
                      <span class="text-danger">State is required.</span>
                    }
                </div>
                <div class="form-group col-6">
                  <label>Zipcode</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="123"
                    formControlName="zipcode"
                  [ngClass]="{
                    'error':
                      shippingAddressForm.get('zipcode')?.invalid &&
                      (shippingAddressForm.get('zipcode')?.touched || submitted)
                  }"
                    required
                    />
                    @if (shippingAddressForm.get('zipcode')?.hasError('required') && (shippingAddressForm.get('zipcode')?.touched || submitted)) {
                      <span class="text-danger">ZipCode is required.</span>
                    }
                    @if (shippingAddressForm.get('zipcode')?.hasError('pattern') && (shippingAddressForm.get('zipcode')?.touched || submitted)) {
                      <span class="text-danger">ZipCode required only numbers.</span>
                    }
                </div>
                <div class="form-group col-6">
                  <label>Country</label>
                  <select
                    class="custom-select"
                    formControlName="country"
                  [ngClass]="{
                    'error':
                      shippingAddressForm.get('country')?.invalid &&
                      (shippingAddressForm.get('country')?.touched || submitted)
                  }"
                    required
                    >
                    <option value="" disabled>Select Country</option>
                    @for (country of countries; track country) {
                      <option [value]="country">
                        {{ country }}
                      </option>
                    }
                  </select>
                  @if (shippingAddressForm.get('country')?.hasError('required') && (shippingAddressForm.get('country')?.touched || submitted)) {
                    <span class="text-danger">Country is required.</span>
                  }
                </div>
              </div>
            </form>
          </div>
        </div>
      }
    </div>
    <div class="col-lg-4">
      <h5 class="section-title position-relative text-uppercase mb-3">
        <span class="bg-secondary pr-3">Order Total</span>
      </h5>
      <div class="bg-light p-30 mb-5">
        <div class="border-bottom">
          <h6 class="mb-3">Products</h6>
          @for (product of formData.orderTotal.products; track product) {
            <div
              class="d-flex justify-content-between"
              >
              <p>{{ product.name | titlecase }}</p>
              <p>{{ product.price | currency : "USD" : "symbol" : "1.2-2" }}</p>
            </div>
          }
        </div>
        <div class="border-bottom pt-3 pb-2">
          <div class="d-flex justify-content-between mb-3">
            <h6>Subtotal</h6>
            <h6>
              {{
              formData.orderTotal.subtotal
              | currency : "USD" : "symbol" : "1.2-2"
              }}
            </h6>
          </div>
          <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">Shipping</h6>
            <h6 class="font-weight-medium">
              {{
              formData.orderTotal.shipping
              | currency : "USD" : "symbol" : "1.2-2"
              }}
            </h6>
          </div>
        </div>
        <div class="pt-2">
          <div class="d-flex justify-content-between mt-2">
            <h5>Total</h5>
            <h5>
              {{
              formData.orderTotal.total || 0
              | currency : "USD" : "symbol" : "1.2-2"
              }}
            </h5>
          </div>
        </div>
      </div>
      <div class="mb-30" >
        <div class="input-group">
          <input type="text" class="form-control" name="coupon" [(ngModel)]="couponName" [disabled]="isCouponApplied" placeholder="Coupon Code" >
          <div class="input-group-append">
            <button class="btn btn-primary" (click)="toggleCoupon()">
              {{ isCouponApplied ? 'Remove Coupon' : 'Apply Coupon' }}
            </button>
          </div>
        </div>
        
      </div>
      <div class="mb-5">
        <h5 class="section-title position-relative text-uppercase mb-3">
          <span class="bg-secondary pr-3">Payment</span>
        </h5>
        <div class="bg-light p-30">
          @for (method of paymentMethodList; track method) {
            <div class="form-group">
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  class="custom-control-input"
                  [id]="'payment-' + method"
                  name="method"
                  [value]="method"
                  [(ngModel)]="paymentMethod"
                  />
                <label class="custom-control-label" [for]="'payment-' + method">
                  {{ method }}
                </label>
              </div>
            </div>
          }
          <button
            (click)="onSubmit()"
            class="btn btn-block btn-primary font-weight-bold py-3"
            [disabled]="submitted"
            >
            Place Order
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
