<div class="container-fluid">
  <div class="row bg-secondary py-1 px-xl-5">
    <div class="col-lg-6 d-none d-lg-block">
      <div class="d-inline-flex align-items-center h-100">
        <a class="text-body mr-3" href="#" *ngFor="let link of links">{{
          link.name
          }}</a>
      </div>
    </div>
    <div class="col-lg-6 text-center text-lg-right">
      <div class="d-inline-flex align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">
            My Account
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" type="button" routerLink="/auth/sign-in">
              Sign in
            </button>
            <button class="dropdown-item" type="button" routerLink="/auth/sign-up">
              Sign up
            </button>
          </div>
        </div>

      </div>
             <!-- <div class="btn-group">
          <select (change)="onLanguageChange($event)">
            <option *ngFor="let lang of languages" [value]="lang.label">
              {{ lang.lang }}
            </option>
          </select>
        </div> -->
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-sm btn-light dropdown-toggle"
            data-toggle="dropdown"
          >
            EN
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <button
              class="dropdown-item"
              type="button"
              *ngFor="let lang of languages"
            >
              {{ lang.label }}
            </button>
          </div>
        </div>
      <div class="d-inline-flex align-items-center d-block d-lg-none">
        <a href="#" class="btn px-0 ml-2">
          <i class="fas fa-heart text-dark"></i>
          <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px">0</span>
        </a>
        <a href="#" class="btn px-0 ml-2">
          <i class="fas fa-shopping-cart text-dark"></i>
          <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px">0</span>
        </a>
      </div>
    </div>
  </div>
</div>