<!-- Breadcrumb Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-12">
      @if (commonService.breadCrumbData$ | async; as breadcrumb) {
        <nav
          class="breadcrumb bg-light mb-30"
          >
          @for (item of breadcrumb.linkList;let i=$index ; track i; let last = $last) {
            <a
              class="breadcrumb-item"
              [routerLink]="item.link"
              [ngClass]="{ 'de-active-link': last, 'text-dark': !last }"
              >{{ item.label }}</a
              >
            }
          </nav>
        }
      </div>
    </div>
  </div>
  <!-- Breadcrumb End -->
