<div [formGroup]="formGroup">
  <div class="row">
    <div
      class="col-md-6 form-group"
      *ngFor="
        let field of [
          'firstName',
          'lastName',
          'email',
          'mobileNo',
          'addressLine1',
          'addressLine2',
          'city',
          'state',
          'zipCode'
        ]
      "
    >
      <label>{{ field | titlecase }}</label>
      <input
        class="form-control"
        type="text"
        [formControlName]="field"
        placeholder="{{ field | titlecase }}"
        [ngClass]="{
          'is-invalid':
            (formGroup.get(field)?.touched &&
              formGroup.get(field)?.hasError('required')) ||
            (submitted && formGroup.get(field)?.errors)
        }"
      />
      <span
        class="text-danger"
        *ngIf="
          (formGroup.get(field)?.touched || submitted) &&
          formGroup.get(field)?.errors
        "
        >{{ field | titlecase }} is required</span
      >
    </div>
    <div class="col-md-6 form-group">
      <label>Country</label>
      <select class="custom-select" formControlName="country">
        <option>United States</option>
        <option>Afghanistan</option>
        <option>Albania</option>
        <option>Algeria</option>
        <!-- Add other countries as needed -->
      </select>
    </div>
  </div>
</div>
