<!-- Toast Notification -->
@if ((commonService.toastShow$| async)) {
  <div class="row position-relative">
    <div class="col-3 position-absolute z-3 top-0 end-0">
      <div class="bottom-0 end-0 p-3">
        <div id="liveToast" class="" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="row text-primary  align-items-center " [ngClass]="{'bg-danger': ((commonService.toastType$ | async)=='danger'),'bg-warning':((commonService.toastType$| async)=='warning'),'bg-success':((commonService.toastType$ | async)=='success')}" >
            <strong class="me-auto col-9">Notification</strong>
            <button type="button" class="col-2 btn  text-primary" (click)="(commonService.closeToast())" ><i class="bi bi-x-lg"></i></button>
          </div>
          <div class="row bg-dark text-warning align-items-center  ">
            <p class="col-12">{{commonService.toastMsg$ | async}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
}

