<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5 col-lg-4">
            <div class="p-3 shadow-lg border border-dark rounded-2">
                <div class="bg-dark rounded-2 text-center">
                    <h2 class="text-primary">Forgot Password</h2>
                </div>
                <div class="border border-warning border-2"></div>
                <form (ngSubmit)="doForgotPassword()" [formGroup]="forgotPasswordForm">
                    
                    <div class="form-group pt-2">
                        <label for="inputPassword1">New Password <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input [type]="hiddenPassword ? 'text' : 'password'" class="form-control " formControlName="password" id="inputPassword1" placeholder="Password"
                                [ngClass]="{'error':forgotPasswordForm.get('password').invalid && (forgotPasswordForm.get('password').touched || submitted)}">
                            <button type="button" class="btn bg-primary " (click)="showPassword()"
                                [ngClass]="{'bi bi-eye-fill': hiddenPassword, 'bi bi-eye-slash-fill': !hiddenPassword}"></button>
                        </div>
                        <span class="text-danger" *ngIf="forgotPasswordForm.get('password').hasError('required') && (forgotPasswordForm.get('password').touched || submitted)">Password is required</span>
                    </div>
                    <div class="form-group pt-2">
                        <label for="inputPassword1">Confirm Password <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input [type]="hiddenConfirmPassword ? 'text' : 'password'" class="form-control " formControlName="confirmPassword" id="inputPassword1" placeholder="Password"
                                [ngClass]="{'error':forgotPasswordForm.get('confirmPassword').invalid && (forgotPasswordForm.get('confirmPassword').touched || submitted)}">
                            <button type="button" class="btn bg-primary " (click)="showConfirmPassword()"
                                [ngClass]="{'bi bi-eye-fill': hiddenConfirmPassword, 'bi bi-eye-slash-fill': !hiddenConfirmPassword}"></button>
                        </div>
                        <span class="text-danger" *ngIf="forgotPasswordForm.get('password').hasError('required') && (forgotPasswordForm.get('password').touched || submitted)">Password is required</span>
                    </div>
                    <div class="pt-2 text-center">
                        <button class="btn bg-primary w-100">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
