<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="card p-3 shadow-lg border rounded-0">
        <div class="bg-dark rounded-0 text-center">
          <h2 class="text-primary">Forgot Password</h2>
        </div>
        <div class="border border-warning border-2 mt-2"></div>
        <form (ngSubmit)="doForgotPassword()" [formGroup]="forgotPasswordForm">

          <div class="form-group pt-3">
            <label for="inputPassword1">New Password <span class="text-danger">*</span></label>
            <div class="input-group">
              <input [type]="hiddenPassword ? 'text' : 'password'" class="form-control" formControlName="password" id="inputPassword1" placeholder="Password"
                [ngClass]="{'is-invalid': forgotPasswordForm.get('password').invalid && (forgotPasswordForm.get('password').touched || submitted)}">
              <button type="button" class="btn bg-primary" (click)="showPassword()"
              [ngClass]="{'bi bi-eye-fill': hiddenPassword, 'bi bi-eye-slash-fill': !hiddenPassword}"></button>
            </div>
            @if (forgotPasswordForm.get('password').invalid && (forgotPasswordForm.get('password').touched || submitted)) {
              <div>
                <span class="text-danger">Password is required</span>
              </div>
            }
          </div>
          <div class="form-group pt-3">
            <label for="inputPassword2">Confirm Password <span class="text-danger">*</span></label>
            <div class="input-group">
              <input [type]="hiddenConfirmPassword ? 'text' : 'password'" class="form-control" formControlName="confirmPassword" id="inputPassword2" placeholder="Confirm Password"
                [ngClass]="{'is-invalid': forgotPasswordForm.get('confirmPassword').invalid && (forgotPasswordForm.get('confirmPassword').touched || submitted)}">
              <button type="button" class="btn bg-primary" (click)="showConfirmPassword()"
              [ngClass]="{'bi bi-eye-fill': hiddenConfirmPassword, 'bi bi-eye-slash-fill': !hiddenConfirmPassword}"></button>
            </div>
            @if (forgotPasswordForm.get('confirmPassword').invalid && (forgotPasswordForm.get('confirmPassword').touched || submitted)) {
              <div>
                <span class="text-danger">Confirm Password is required</span>
              </div>
            }
          </div>
          <div class="pt-3 text-center">
            <button class="btn bg-primary w-100" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
