


  <div class="container-fluid vh-100 d-flex align-items-center justify-content-center">
    <div class="row w-100">
        <!-- Sign In Form Column -->
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div class="card w-75 shadow-lg border  rounded-0">
                <div class="card-body p-4">
                    <div class="text-center bg-dark mb-4">
                        <h1 class="text-primary">Sign In</h1>
                    </div>
                    <form (ngSubmit)="doSignIn()" [formGroup]="signInForm">
                        <div class="form-group mb-3">
                            <label for="inputEmail1">Email<span class="text-danger">*</span></label>
                            <input type="email" class="form-control" formControlName="email" id="inputEmail1"
                                placeholder="Email"
                                [ngClass]="{'error': signInForm.get('email').invalid && (signInForm.get('email').touched || submitted)}">
                                <span class="text-danger" *ngIf="signInForm.get('email').hasError('required') && (signInForm.get('email').touched || submitted)">Email is required</span>
                                <span
                                class="text-danger"
                                *ngIf="signInForm.get('email').hasError('emailValidation') && (signInForm.get('email').dirty || signInForm.get('email').touched)" class="text-danger"
                                >Email is invalid.</span
                                >
                        </div>
                        <div class="form-group mb-3">
                            <label for="inputPassword1">Password<span class="text-danger">*</span></label>
                            <div class="input-group">
                                <input [type]="hiddenPassword ? 'text' : 'password'" class="form-control" formControlName="password" id="inputPassword1" placeholder="Password"
                                    [ngClass]="{'error': signInForm.get('password').invalid && (signInForm.get('password').touched || submitted)}">
                                    <button type="button" class="btn bg-primary " (click)="showPass()"
                                    [ngClass]="{'bi bi-eye-fill': hiddenPassword, 'bi bi-eye-slash-fill': !hiddenPassword}"></button>
                            </div>
                            <span class="text-danger" *ngIf="signInForm.get('password').hasError('required') && (signInForm.get('password').touched || submitted)">Password is required</span>

                            <ul *ngIf="signInForm.get('password').hasError('passwordValidation') && (signInForm.get('password').dirty || signInForm.get('password').touched)" class="text-danger">
                                <li>At Least One UpperCase</li>
                                <li>At Least One Lowercase</li>
                                <li>At Least One Digit</li>
                                <li>Minimum Length 6 </li>
                            </ul>
                        </div>
                        <div class="mb-3 text-end " >
                            <a routerLink="/auth/confirmation-email">Forgot password?</a>
                        </div>
                        <div class="mb-3 text-end ">
                            <a routerLink="/auth/sign-up">Sign Up ?</a>

                        </div>
                        <div class="text-center">
                            <button class="btn bg-primary w-100" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Welcome Information Column -->
        <div class="col-md-6 d-none d-md-flex ">
            <div class="card h-100 shadow-lg border  rounded-0 text-center p-4 d-flex justify-content-center align-items-center">
                <h2 class="text-primary">Welcome to Multi Shop!</h2>
                <p class="lead">We are delighted to have you here. Our platform offers a wide range of products at competitive prices. Enjoy a seamless shopping experience with easy navigation and secure checkout.</p>
                
                <ul class="list-unstyled horizontal-list ">
                    <li><i class="bi bi-check-circle-fill text-success"></i> Exclusive deals and offers</li>
                    <li><i class="bi bi-check-circle-fill text-success"></i> High-quality products</li>
                    <li><i class="bi bi-check-circle-fill text-success"></i> 24/7 customer support</li>
                    <li><i class="bi bi-check-circle-fill text-success"></i> Fast and reliable delivery</li>
                </ul>
                <p class="lead">Join us and start your shopping journey today!</p>
            </div>
        </div>
    </div>
</div>

