 /* Custom styles for yellow and black theme */
 .toast-custom {
    background-color: #ffff00; /* Yellow background */
    color: #000000; /* Black text */
  }
  .toast-header-custom {
    background-color: #000000; /* Black background for header */
    color: #ffff00; /* Yellow text for header */
  }