
.height{
  height: 93vh;
}
.error{
  border: 1px solid red;
  box-shadow: 0 0 15px inset rgba(255,0,0,0.2);
}
.bgColor{
  background-color:#FFEA80;
}
a{
  text-decoration: none;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #e9b90e;
  outline: 0;
  box-shadow: none;
}
.cYellow{
  color:  #FFD333;
}
.bgYellow{
  background-color:  #FFD333;

}
.border-warning{
  border-color: #FFD333 ;
}
.btn-outline-dark:hover{
  color:#FFD333 ;
}
.bgDark{
  background-color: #3D464D;
}