<ng-container *ngFor="let order of orderList">
  <div class="container">
    <div class="row bg-light border border-1 gap-2">
      <div class="row p-2">
        <div class="col-6">
          <div class="btn btn-dark text-light">{{ order._id | uppercase }}</div>
        </div>
        <div class="col-6 text-end">
          <button
            class="btn btn-dark"
            [routerLink]="['/order-view', order._id]"
          >
            View Order
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <span>Ordered On {{ order.createdAt | date }}</span>
        </div>
        <div class="col-6 text-end">
          <span>Order Total {{ order.totalAmount | currency }}</span>
        </div>
      </div>
    </div>
    <div class="product-item row bg-light mb-4">
      <div class="col-4 shadow-sm bg-light"></div>
      <div class="col-8"></div>
    </div>
  </div>
</ng-container>
